.main-content {
  position: relative;
}

.content {
  h1 {
    font-weight: 700;
    letter-spacing: -0.7px;
    font-family: 'Fago Office Serif';
  }

  .slide-text {
    border: 1px solid $color-grey-dark;

    @include max-media-query($point-md) {

      &:not(.show) {
        p {
          position: relative;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -moz-box;
          -moz-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          line-clamp: 4;
          box-orient: vertical;
        }
      }
    }

    .open {
      font-weight: bolder;
      color: gray;
    }
  }
}

.panel-more-product {
  text-align: center;
}

.link-more {
  position: relative;
  background: $color-white;
  border: 1px solid $color-gold;
  letter-spacing: 2px;
  color: $color-text;
  text-align: center;

  span {
    position: relative;
    z-index: 2;

    &.progress {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: $color-gold;
    }
  }
}

.list-recommend-links {
  background: $color-black;
  color: $color-white;

  h3 {
    letter-spacing: -0.7px;
    text-transform: uppercase;
    font-family: $secondary-font;
  }

  .link {
    position: relative;
    border-bottom: 1px solid #6c757d;
    color: $color-white;

    &::before {
      @include icon;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: $color-gold;
      content: "\e901";
    }
  }
}

.link-primary {
  position: relative;
  padding: 0 14px 3px 0;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;

  @include min-media-query($point-xl) {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }

  &::before {
    @include icon;
    position: absolute;
    right: 0;
    bottom: 5px;
    font-size: 0.8rem;
    color: $color-gold;
    content: "\e901";

    @include min-media-query($point-xl) {
      font-size: 0.9rem;
    }
  }

  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    background: $color-gold;
    width: calc(100% - 16px);
    height: 1px;
    content: '';
  }

  &:hover {
    color: $color-link;
  }
}


.breadcrumb-link {
  color: #A3A3A3;
  &:hover {
    color: #A3A3A3;
    text-decoration: underline;
  }
}

.breadcrumb-devider {
  color: #A3A3A3;
}